@model IEnumerable<SiteChecker.Models.StatusItem>

@{
    ViewBag.Title = "Index";
}

<h2>External Web Sites</h2>

<p>
    Shows sites availability
</p>
<br /><br />
<table class="table table-hover">
    <tr>
        <th>Site</th>
        <th>Status</th>
        <th>Status Code</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.Path" target="_blank">@item.Name </a>
            </td>
            <td>
                @if (item.StatusCode == 200)
                {
                    <span style="color:green;font-weight:bold;">Online</span>
                }
                else
                {
                    <span style="color:red;font-weight:bold;">Offline</span>
                }
            </td>
            <td>@item.StatusCode</td>
        </tr>
    }

</table>

